{% extends 'base.html' %}

{% block content %}
<h1>Home</h1>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores quam beatae magnam dolore enim possimus iusto
    blanditiis, asperiores repellendus velit vero reiciendis, animi, itaque repellat nisi? Blanditiis at cum accusamus
    ducimus id, repellat ex molestias dolore asperiores quod voluptatem dolorum, architecto dignissimos, libero
    temporibus veniam pariatur? Veritatis cumque a, dignissimos pariatur ullam quis distinctio aliquam sit dolore, dicta
    unde enim non ratione libero. Commodi velit repellendus ipsum tempore exercitationem pariatur minima numquam vero
    cupiditate, possimus quas? Distinctio fugit beatae numquam cupiditate maxime qui laboriosam nesciunt, ratione harum
    dolore optio placeat officiis nemo perspiciatis obcaecati quo magnam temporibus, eum enim neque.</p>
{% endblock %}